<header id="masthead" class="site-header" role="banner" [ngClass]="[stickyMenu ? 'sticky':'']">
		<div class="nav-container">
			<nav id="site-navigation" class="main-navigation" role="navigation">
				<div class="container-fluid nav-bar" [ngClass]="[navOpen ? 'nav-open':'']">
					<div class="row">
						<div class="module left site-title-container">
							<a href="/home" class="custom-logo-link"><span class="site-title">Ziumlight</span></a>
						</div>
						<div class="module widget-handle mobile-toggle right visible-sm visible-xs" (click)="mobileToggle()"
							[ngClass]="navOpen ? 'active':''">
							<i class="fa fa-bars"></i>
						</div>
						<div class="module-group left">
							<div class="module left">
								<app-nav-menu></app-nav-menu>
							</div>
							<!--end of menu module-->
						</div>
						<div class="module-group right hidden-sm hidden-xs">
							<div class="module widget-handle search-widget-handle left"
							[ngClass]="navOpen ? 'hidden-xs hidden-sm':''">
								<div class="search">
									<i class="fa fa-search"></i>
								</div>
							</div>
							
							<div class="module widget-handle search-widget-handle left hidden-xs hidden-sm">
								<div class="login">
									<i class="fa fa-user"></i>
								</div>
							</div>
						</div>
						<!--end of module group-->
					</div>
				</div>
			</nav><!-- #site-navigation -->
		</div>
	</header><!-- #masthead -->